
Grid/\.vs/Grid/v15/Server/sqlite3/storage\.ide-shm

Grid/Grid/obj/Debug/Grid\.csproj\.CoreCompileInputs\.cache

Grid/Grid/obj/Debug/Grid\.csprojAssemblyReference\.cache

Grid/Grid/obj/Debug/Grid\.csproj\.FileListAbsolute\.txt
